.fonctionnement {
    font-family: Roboto-Regular;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    h2 {
        font-size: 1.5rem;
    }

    &__step {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 75px;
        column-gap: 20px;
        font-family: Roboto-Regular;
        border-radius: 40px;
        box-shadow: 10px 10px 20px -10px gray;
        background-color: #f6f6f6;

        .order {
            display: flex;
           align-items: center;
           justify-content: center;
            position: absolute;
            left: 10px;
            background-color: $color-primary;
            border-radius: 50px;
            width: 25px;
            height: 25px;
            color: white;
        }

        .fas {
            display: flex;
            margin-top: auto;
            margin-bottom: auto;
            color: #7e7e7e;
        }

        .fa-store {
            color: $color-primary;
        }
    }

    &__step3 {
        background-color: #f5edff;
    }
}
