header i {
    position: absolute;
    top: 34px;
    left: 25px;
    font-size: 1.4rem;
    color: black;
}

.restaurant__page {
    .banniere img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .carte {
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        font-family: Roboto-Regular;
        background-color: #f6f6f6;
        padding-bottom: 50px;
        margin-top: -40px;
        border-radius: 40px;
        padding-top: 40px;

        h2 {
            font-family: "Shrikhand-Regular";
            font-style: normal;
            font-weight: 400;
            font-size: 1.9rem;
            margin-top: 0;
            margin-bottom: 5px;
            margin-right: 60px;
        }

        .heart--container {
            position: absolute;
            right: 30px;
            top: 48px;
            height: 30px;
            width: 30px;

            .heart--empty {
                font-size: 1.7rem;
                position: absolute;
            }

            .heart--full {
                font-size: 1.7rem;
                position: absolute;
                opacity: 0;
                background: -webkit-gradient(
                    linear,
                    right top,
                    left bottom,
                    from($color-primary),
                    to($color-secondary)
                );
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &:hover {
                cursor: pointer;
                .heart--full {
                    animation: heart_opacity 0.4s both;
                }
                .heart--empty {
                    animation: heart_opacity 0.4s both reverse;
                }
            }
        }

        &__flex {
            @media all and (min-width: 1000px) {
                display: flex;
                column-gap: 15px;
            }
        }

        h3 {
            font-weight: 300;
            padding-top: 25px;
            margin-bottom: 5px;
        }

        &__entrees,
        &__plats,
        &__desserts {
            display: flex;
            flex-direction: column;
            row-gap: 15px;

            @media all and (min-width: 1000px) {
                width: 33%;
            }
        }

        &__underline {
            width: 40px;
            height: 3px;
            background-color: $color-tertiary;
            margin-top: -15px;
        }

        &__desserts {
            margin-bottom: 50px;
        }

        &__card {
            display: grid;
            grid-template-columns: auto 50px;
            grid-template-rows: 35px 35px;
            height: 70px;
            background-color: white;
            padding-left: 15px;
            padding-right: 10px;
            border-radius: 20px;
            box-shadow: 10px 10px 20px -10px gray;
            position: relative;
            overflow: hidden;

            animation: menu_opacity 1.5s;
            animation-fill-mode: backwards;

            @for $i from 1 through 4 {
                &--delay#{$i} {
                    animation-delay: 0.2s * $i;
                }
            }

            h4 {
                grid-column: 1;
                grid-row: 1;
                line-height: 1rem;
                font-size: 1.1rem;
                font-weight: 600;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-top: 15px;
            }

            p {
                grid-column: 1;
                grid-row: 2;
                line-height: 1rem;
                font-size: 1rem;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-top: 5px;
                transition: padding-right 0.6s ease-in-out;
            }

            .prix {
                grid-column: 2;
                grid-row: 2;
                line-height: 1.8em;
                font-weight: 600;
                text-align: center;
                transition: transform 0.6s ease-in-out;
            }

            &:hover > .prix {
                transform: translateX(-60px);
            }
            &:hover > .carte__validate {
                transform: translateX(-60px);
            }
            &:hover .fas {
                transform: rotate(-360deg);
            }
            &:hover p {
                padding-right: 60px;
            }

            .carte__validate {
                position: absolute;
                right: -60px;
                height: 70px;
                width: 60px;
                line-height: 78px;
                background-color: $color-tertiary;
                text-align: center;
                transition: transform 0.6s ease-in-out;

                .fas {
                    font-size: 1.6rem;
                    color: white;
                    transition: transform 0.7s ease-in-out;
                }
            }
        }
    }

    a {
        text-decoration: none;
        @include btn;
    }
}
