@font-face {
    font-family: "Shrikhand-Regular";
    src: url("./fonts/Shrikhand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

body {
    margin-left: 0;
    margin-right: 0;
}