@font-face {
    font-family: "Shrikhand-Regular";
    src: url("./fonts/Shrikhand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/font/roboto/Roboto-Regular.woff2") format("truetype");
}