@keyframes menu_opacity {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes btn {
    from {
        width: 50px;
        opacity: 0;
    }

    to {
        width: 220px;
        opacity: 1;
    }
}

@keyframes btn_text {
    from {
        color: transparent;
    }

    to {
        color: white;
    }
}

@keyframes heart_opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes loader_opacity {
    0% {
        opacity: 1;
    }

    84% {
        opacity: 1;
    }

    
    100% {
        opacity: 0;
    }
}

@keyframes loader_rotation {
    from {
        rotate: 0turn;
    }

    to {
        rotate: 1turn;
    }
}

@keyframes loader_item_translate3 {
    0% {
        transform: translateX(-80px) scale(1);
    }

    50% {
        transform: translateX(120px) scale(1.5);
    }

    100% {
        transform: translateX(-80px) scale(1);
    }
}

@keyframes loader_item_translate1 {
    0% {
        transform: translateX(80px) scale(1);
    }

    50% {
        transform: translateX(-120px) scale(1.5);
    }

    100% {
        transform: translateX(80px) scale(1);
    }
}
