@mixin btn {
    .btn {
        font-family: Roboto-Regular;
        height: 50px;
        width: 220px;
        border-radius: 40px;
        display: block;
        margin: auto;
        background: linear-gradient(170deg, $color-secondary, $color-primary);
        color: white;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        box-shadow: 10px 10px 20px -10px gray;
    }
}
